:root
{
    --blue: #1A94FF;
    --box-shadow:0 0.5rem 1.5rem rgba(0,0,0,0.1);
    --light-color:#666;
    --black: #38383D;
}

*
{
   
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
body
{
    background:#f5f5fa;
}
html{
    font-family: roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    scroll-padding-top: 5.5pm;
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(26, 148, 255);
  }
  
  .header__container {
    position: relative;
    padding-top: 4px;
  }
  
  .logo__container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .logo-tiki {
    margin-top: 15px;
  }
  
  .logo-img {
    width: 60px;
    height: 40px;
  }
  
  .freeship-img {
    width: 83px;
    height: 12px;
    margin-top: 8px;
  }
  
  .mobile__cart {
    display: none;
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 40px;
    letter-spacing: 10px;
  }
  /* search header */
  .search-box {
    margin-left: 15%;
    width: 100%;
  }
  .input-box {
    width: 75%;
  }
  .box {
    padding: 0 12px;
    height: 40px;
    border-radius: 2px;
    border: none;
    outline: none;
    width: 100%;
  }
  
  .search__container {
    margin-top: 15px;
    display: flex;
  }
  
  .search-btn {
    width: 15%;
  }
  
  .search-btn .btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    color: #fff;
    background: rgb(13, 92, 182);
    cursor: pointer;
  }
  
  .search-icon {
    padding: 0 5px;
    font-size: 16px;
  }
  
  .search-img {
    display: none;
  }
  
  .food-bar {
    margin-top: 8px;
  }
  .food-bar a {
    color: #fff;
  }
  
  .food {
    margin-right: 12px;
    font-size: 11px;
  }
  
  .login {
    margin-left: 40px;
    margin-top: 15px;
    display: flex;
  }
  .user-icon {
    margin: 5px 9px 0 0;
    color: #fff;
    width: 32px;
    height: 32px;
    font-size: 28px;
    text-align: center;
  }
  
  .users {
    color: #fff;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }
  
  .log-in {
    font-size: 11px;
    line-height: 12px;
  }
  
  .user {
    font-size: 13px;
    line-height: 34px;
  }
  
  .carts {
    margin-top: 24px;
    position: relative;
    color: #fff;
  }
  
  .cart-icon {
    font-size: 24px;
  }
  .cart {
    font-size: 11px;
  }
  
  .carts__item {
    position: absolute;
    color: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(253, 216, 53);
    left: 18px;
    top: -8px;
  }
  
  .seller {
    border-radius: 10px;
    font-size: 12px;
    padding: 4px 10px;
    margin-left: 25%;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    bottom: 0;
    right: 10px;
  }
  .sell {
    color: #fff;
    padding: 2px 0;
  }
  .store-icon {
    font-size: 12px;
  }
  /* ------------------------nav mobile ----------------- */
  

.header_mobile_container
{
    width: 100%;
    display:none;
}
.header_mobile_container .header_mobile_container_top
{
    display: flex;
    font-size:14px;
    color: #fff;
    padding-top: 16px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    width: 100%;
    position: relative;
    text-align: center;
    justify-content:space-between;
}
.header_mobile_container .header_mobile_container_top .header_mobile_logo
{
    overflow: hidden;
   
}
.img_freeShip_top
{
    width:80px;  
}
.icon_mobile_logo_top
{
    display: flex;
}
.img_logo_top
{
    width:40px;
}
.header_mobile_logo img
{
    width: 100%;
    object-fit: cover;
}
.bell_home
{
    text-align: right;
}
.cart_home_top
{
    margin-left: 10px;
}
.header_mobile_container_bottom
{
    padding:10px  15px;
    width:100%;
    
}
.header_mobile_container_bottom input
{
    width: 100%;
    padding: 4px 5px;
    border-radius:4px;
}
.breadcrumb_main
{
    display: flex;
    align-items: center;
}
a.breadcrumb_item
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: rgb(128, 128, 137);
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    white-space: nowrap;
}
.icon.icon-next
{
    display: inline-block;
    margin-left: 5.5px;
    margin-right: 8.5px;
    color: rgb(128, 128, 137);
    font-weight: 300;
}
/* ------------------------product_detail------------------------- */

.product_detail_main
{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}
.product_detail_imgDetail
{
    padding: 16px ;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: hidden;
    
    /* position: relative; */
}
.product_detail_imgDetail .group_images
{
    width: 100%;
    overflow: hidden;
}
.product_detail_imgDetail .group_images img
{
    width: 100%;
    object-fit: cover;
}
.product_detail_imgDetail .review_images
{
    margin: 16px 0px 0px;
}
.product_detail_imgDetail .review_images .review_images__list
{
    display: flex;
}
.product_detail_imgDetail .review_images .review_images__list .pdp_main_view_photo
{
    cursor: pointer;
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: 12px;
    border-radius: 4px;
    overflow: hidden;
}
.review_images__list .pdp_main_view_photo.active
{
    border: 1px solid rgb(13, 92, 182);
}
.review_images__list .pdp_main_view_photo img
{
    width: 100%;
   object-fit: cover;
}
.Share_icon_container
{
    display: flex;
    margin-top: 24px;
    align-items: center;
}
.Share_icon_container .text_title
{
    font-size: 15px;
    line-height: 24px;
    color: rgb(36, 36, 36);
}
.Share_icon_container img
{
    width: 28px;
    height: 28px;
    margin-right: 8px;
    cursor: pointer;
}
.Share_icon_container img.img_first
{
    margin-left: 8px;
}
.Share_icon_container img.img_last
{
    margin: 0px;
}
.Share_icon_container .styles__Separator-sc-1l4uvu3
{
    width: 1px;
    height: 20px;
    background-color: rgb(242, 242, 242);
    margin-left: 16px;
    margin-right: 16px;
}
.Share_icon_container .like_info
{
    display: flex;
    align-items: center;
}
.Share_icon_container .like_info img
{
    width: 28px;
    height: 28px;
    margin-right: 8px;
    cursor: pointer;
}
.Share_icon_container .like_info span{
    font-size: 15px;
    line-height: 24px;
    color: rgb(36, 36, 36);

}
.header_detail_content
{
    width: 100%;
    padding: 16px 28px 16px 0px;
}
.header_detail_content .brand
{
    display: flex;
    margin-top: 8px;
}
.header_detail_content .brand span
{
    margin: 0px;
    color: rgb(36, 36, 36);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.header_detail_content .brand a
{
    font-size: 13px;
    line-height: 20px;
    color: rgb(13, 92, 182);
    padding-left: 5px;
}
.header_detail_content .title
{
    margin: 0px 0px 4px;
    color: rgb(36, 36, 36);
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
}
.header_detail_content .below_title
{
    display: flex;
    align-items: center;
    margin-top: 4px;
}
.below_title .stars
{
    display: flex;
    color: #fdd836;
}
.below_title .stars i
{
    font-size: 12px;
}
.below_title .stars i:last-child
{
    color: rgb(199, 199, 199);
}
.below_title .number
{
    display: block;
    cursor: pointer;
    margin-left: 8px;
    color: rgb(120, 120, 120);
    font-size: 15px;
    line-height: 24px;
}
.below_title .space_product_detail
{
    width: 1px;
    height: 12px;
    background-color: rgb(199, 199, 199);
    margin-left: 8px;
    margin-right: 8px;
}
.below_title .product_sold
{
    font-size: 15px;
    line-height: 24px;
    color: rgb(120, 120, 120);
}